<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="leinadworks.com"%> Rent in Berkeley </a>
      by <a href="leinadworks.com">Daniel Lim</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>